* {
    margin: 0;
    padding: 0;
    border: transparent solid 0px;
    font-size: 1vw;
    color: #473c33;
}

html{
    font-family: 'Anuphan', sans-serif;
    font-weight: 500;
}


.con {
    background-color: #f3ecda;
    height: 130vh;
    width: 100vw;
}



.headsty {
    color: #473c33;
    text-align: left;
}

.headsty header {
    background-color: #f3ecda;
    width: 100vw;
}

.headsty header h1 li {
    list-style: none;
    display: inline-block;
    position: relative;
    margin-left: 3vw;
    margin-top: 3vh;
    font-size: 5rem;
}

#head {
    font-size: 5rem;
    color: #473c33;
    font-weight: lighter;
}

.headsty header h1 li::after {
    content: '';
    height: 3px;
    width: 0%;
    background-color: #fda769;
    position: absolute;
    transition: 0.5s;
    left: 0;
    bottom: 0;
}

.headsty header h1 li:hover::after {
    width: 100%;
}

.form-group label {
    font-size: 3rem;
    color: #473c33;
}

.form-group input {
    background-color: #f3ecda;
    font-size: 2rem;
    opacity: 70%;
}

.form-group select {
    background-color: #f3ecda;
}

.form-group textarea {
    background-color: #f3ecda;
}

/* Styling for form group labels
.form-group label {
    display: block;
    font-weight: bold;
  }
*/

/* Styling for various form input types */
.form-group input[type="text"],
.form-group input[type="email"],
.form-group select,
.form-group textarea,
.form-group input[type="datetime-local"] {
  width: 90vw;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 15px; /* change border to 15px (original is 4px) */
  box-sizing: border-box;
}

/* Allow vertical resizing for textareas */
.form-group textarea {
    resize: vertical;
    width: 90vw; /* change the default width */
}

/* Styling for select dropdowns */
.form-group select {
    width: 90vw;
    font-size: 2rem;
    opacity: 70%;
  }
  
  /* Styling for the submit button */
  .form-group input[type="submit"] {
    background-color: #473c33;
    color: white;
    font-size: 2rem;
    padding: 10px 15px;
    border: none;
    border-radius: 15px; /* change border to 15px (original is 4px) */
    cursor: pointer;
  }
  
  /* Styling for small helper text */
  .form-group small {
    font-size: 2rem;
    color: #888;
  }

   /* Position the error message relatively within the form group */
   .form-group {
    position: relative;
  }

  .form-group option {
    font-size: 2rem;
  }
  
  /* Styling for error messages */
  .error {
    color: red;
    display: block;
    margin-top: 5px;
  }

.col-container {
  display: flex;
  flex-direction: column;
}

.col1 {
    display: flex;
    flex-direction: column;
    margin-left: 3vw;
    margin-top: 3vh;
}

.col2 {
    display: flex;
    flex-direction: column;
    margin-left: 3vw;
    margin-top: 3vh;
} 

.col3 {
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0;
}

.under {
    margin-left: 3vw;
}

.tabbar {
    position: absolute;
    width: 90vw;
    height: 10vw;
    bottom: 0;
    border-radius: 20px;
    margin-bottom: 10%;
    margin-left: 2vw;
    background-color: #f3ecda;
    border: #473c33 solid 1px;
    position: fixed;
    z-index: 3;
}

    .cir {
        position: absolute;
        width: 15vw;
        height: 15vw;
        border-radius: 50%;
        left: 52.5vw;
        bottom: -2.5vw;
        background-color: transparent;
        border: #473c33 solid 0px;
    }

        .img-container{
            width: 90%;
            height: 90%;
            margin-top: 3%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .img-container img{
            width: 60%;
        }

#icon {
    position: absolute;
    visibility: visible;
}


.fortab {
    position: absolute;
    width: 0;
    height: 0;
}

.cirfi {
    position: absolute;
    width: 15vw;
    height: 15vw;
    left: 22.5vw;
    bottom: -2.5vw;
    border-radius: 50%;
    background-color: #f3ecda;
    border: #473c33 solid 1px;
}

#firset {
    margin-left: 5%;
}


/* data output */
#formDataOutput {
    font-size: 2rem;
    margin-left: 3vw;
    color: #abc270;
    background-color: #473c33;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    margin-top: 20px;
}

#formDataOutput strong {
    font-size: 2rem;
    color: #fda769; /* Change the color of strong (key) */
}

/* 768 --Tablet----HiddenBar */
@media only screen and (min-width: 768px) {
   .tabbar {
    visibility: hidden;
   }

   .form-group label {
    font-size: 2rem;
   }

   .form-group small {
    font-size: 1.5rem;
   }

   .fortab {
    position: absolute;
    width: 5vw;
    height: 5vw;
    right: 0;
    top: -5vw;
    margin-right: -90vw;
}
}

/* for labtop */
@media only screen and (min-width: 1000px) {

    #icon {
        visibility: hidden;
    }


    .col-container {
        display: flex;
        flex-direction: row;
      }

    .form-group input[type="text"],
    .form-group input[type="email"],
    .form-group select,
    .form-group textarea,
    .form-group input[type="datetime-local"] {
        width: 30vw;
    }

    .form-group textarea {
        resize: vertical;
        width: 30vw; /* change the default width */
    }
    
    /* Styling for select dropdowns */
    .form-group select {
        width: 30vw;
        font-size: 2rem;
        opacity: 70%;
    }

    .form-group label {
        font-size: 1.3rem;
    }
    
    .form-group small {
        font-size: 0.75rem;
    }

    .form-group select {
        font-size: 1rem;
    }

    .form-group input {
        font-size: 0.9rem;
    }

    .headsty header h1 li {
        font-size: 3rem;
    }
    
    #head {
        font-size: 3rem;
    }

    .form-group option {
        font-size: 0.9rem;
    }

    .form-group input[type="submit"] {
        font-size: 1rem;
    }
    
    .con {
        height: 100vh;
    }

    .col3 {
        position: absolute;
        visibility: visible;
        right: 0;
        margin-bottom: 0;
        width: 62.5vh;
    }

    .tabbar{
        visibility: visible;
        width: 8vh;
        height: 90vh;
        right: 0;
        margin-right: 5vh;
        margin-bottom: 5vh;
    }

    .cir{
        width: 12vh;
        height: 12vh;
        border-radius: 50%;
        left: -2vh;
        bottom: 49vh;
    }

    .cirfi{
        visibility: visible;
        width: 12vh;
        height: 12vh;
        border-radius: 50%;
        left: -2vh;
        bottom: 29vh;
        border: #473c33 solid 1px;
    }

    .img-container {
        margin-top: 0%;
        margin-left: 5%;
    }
}