* {
    margin: 0;
    padding: 0;
    border: #f3ecda solid 1px;
    font-size: 1vw;
}

html{
    font-family: 'Anuphan', sans-serif;
    font-weight: 500;
}

.con {
    background-color: #f3ecda;
    height: 100vh;
    width: 100vw;
}

.headsty {
    color: #473c33;
    text-align: left;
}

.headsty header {
    background-color: #f3ecda;
}

.headsty header h1 li {
    list-style: none;
    display: inline-block;
    position: relative;
    left: 5vw;
    font-size: 3rem;
}

.headsty header h1 li span{
    font-size: 3rem;
    color: #473c33;
    font-weight: lighter;
}

.headsty header h1 li::after {
    content: '';
    height: 3px;
    width: 0%;
    background-color: #fda769;
    position: absolute;
    transition: 0.5s;
    left: 0;
    bottom: 0;
}

.headsty header h1 li:hover::after {
    width: 100%;
}

.form-group input {
    background-color: #f3ecda;
}

.form-group select {
    background-color: #f3ecda;
}

.form-group textarea {
    background-color: #f3ecda;
}