* {
    margin: 0;
    padding: 0;
    border: #f3ecda solid 1px;
    font-size: 1vw;
}

html{
    font-family: 'Anuphan', sans-serif;
    font-weight: 500;
}

.con {
    background-color: #f3ecda;
    height: 100vh;
    width: 100vw;
}

.headsty {
    color: #473c33;
    text-align: left;
}

.headsty header {
    background-color: #f3ecda;
    width: 100vw;
}

.headsty header h1 li {
    list-style: none;
    display: inline-block;
    position: relative;
    margin-left: 3vw;
    margin-top: 3vh;
    font-size: 3rem;
}

#head {
    font-size: 3rem;
    color: #473c33;
    font-weight: lighter;
}

.headsty header h1 li::after {
    content: '';
    height: 3px;
    width: 0%;
    background-color: #fda769;
    position: absolute;
    transition: 0.5s;
    left: 0;
    bottom: 0;
}

.headsty header h1 li:hover::after {
    width: 100%;
}

.form-group input {
    background-color: #f3ecda;
}

.form-group select {
    background-color: #f3ecda;
}

.form-group textarea {
    background-color: #f3ecda;
}

/* Styling for form group labels
.form-group label {
    display: block;
    font-weight: bold;
  }

/* Styling for various form input types */
.form-group input[type="text"],
.form-group input[type="email"],
.form-group select,
.form-group textarea,
.form-group input[type="datetime-local"] {
  width: 30vw;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 15px; /* change border to 15px (original is 4px) */
  box-sizing: border-box;
}

/* Allow vertical resizing for textareas */
.form-group textarea {
    resize: vertical;
    width: 30vw; /* change the default width */
}

/* Styling for select dropdowns */
.form-group select {
    width: 100%;
  }
  
  /* Styling for the submit button */
  .form-group input[type="submit"] {
    background-color: #473c33;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 15px; /* change border to 15px (original is 4px) */
    cursor: pointer;
  }
  
  /* Styling for small helper text */
  .form-group small {
    font-size: 12px;
    color: #888;
  }

   /* Position the error message relatively within the form group */
   .form-group {
    position: relative;
  }
  
  /* Styling for error messages */
  .error {
    color: red;
    display: block;
    margin-top: 5px;
  }

.col-container {
  display: flex;
  flex-direction: row;
}

.col1 {
    display: flex;
    flex-direction: column;
    margin-left: 3vw;
    margin-top: 3vh;
}

.col2 {
    display: flex;
    flex-direction: column;
    margin-left: 3vw;
    margin-top: 3vh;
} 

.under {
    margin-left: 3vw;
}