  /* Styling for each form group */
  .form-group {
    margin-bottom: 20px;
  }
  
  /* Styling for form group labels */
  .form-group label {
    display: block;
    font-weight: bold;
  }
  
  /* Styling for various form input types */
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group select,
  .form-group textarea,
  .form-group input[type="datetime-local"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 15px; /* change border to 15px (original is 4px) */
    box-sizing: border-box;
  }
  
  /* Allow vertical resizing for textareas */
  .form-group textarea {
    resize: vertical;
    width: 500px; /* change the default width */
  }
  
  /* Styling for select dropdowns */
  .form-group select {
    width: 100%;
  }
  
  /* Styling for the submit button */
  .form-group input[type="submit"] {
    background-color: #473c33;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 15px; /* change border to 15px (original is 4px) */
    cursor: pointer;
  }
  
  /* Styling for small helper text */
  .form-group small {
    font-size: 12px;
    color: #888;
  }
  
  /* New styles for error messages */
  
  /* Position the error message relatively within the form group */
  .form-group {
    position: relative;
    left: 5vw;
  }
  
  /* Styling for error messages */
  .error {
    color: red;
    display: block;
    margin-top: 5px;
  }

.col-container {
  display: flex;
}

.col1 {
  margin-left: 0px;
  margin-right: 100px;
  width: 500px;
  height: auto;
}

.col2 {
  width: 500px;
  height: auto;
}