/*
----code color----
green = abc270
yellow = fec868
orange = fda769
brown = 473c33
cream = f3ecda
*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: red solid px;
    font-size: 1vw;
}

/* for mobile */
[class*="col-"] {
    width: 100%;
}

/* for tablet */
@media only screen and (min-width: 600px) {
    .col-s1 {width: 8.33%;}
    .col-s2 {width: 16.66%;}
    .col-s3 {width: 25%;}
    .col-s4 {width: 33.33%;}
    .col-s5 {width: 41.66%;}
    .col-s6 {width: 50%;}
    .col-s7 {width: 58.33%;}
    .col-s8 {width: 66.66%;}
    .col-s9 {width: 75%;}
    .col-s10 {width: 83.33%;}
    .col-s11 {width: 91.66%;}
    .col-s12 {width: 100%;}
}

/* for destop */
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}



/*----FIRSTPAGE----*/
.firstPage{
    background-color: #abc270;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.text{
    display: flex;
    flex-direction: column;
    color: #f3ecda;
}

.firstPage h2 {
    text-align: center;
    color: #473c33;
    font-size: 5rem;
}

.firstPage p {
    text-align: center ;
    font-size: 5rem;
}

/*----BarAndCircle----*/
.tabbar {
    position: absolute;
    width: 90vw;
    height: 10vw;
    bottom: 0;
    border-radius: 20px;
    margin-bottom: 10%;
    background-color: #f3ecda;
    border: #abc270 solid 1px;
    position: fixed;
}
    .fire-container{
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
    }

        .fire-container img{
            width: 20%;
            height: 70%;
        }

    .cir {
        position: absolute;
        width: 15vw;
        height: 15vw;
        border-radius: 50%;
        left: 37.5vw;
        bottom: -2.5vw;
        background-color: #f3ecda;
        border: #abc270 solid 1px;
    }

        .img-container{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .img-container img{
            width: 60%;
        }




/*----SECONDPAGE----*/
.secondPage{
    height: 120vh;
    background-color: #f3ecda;
}

.info-container{
    display: flex;
    flex-direction: column;
}

    .photo{
        border-radius: 50%;
        width: 40rem;
        height: 40rem;
    }
    .photo-container{
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .photo-container h1{
        margin-top: 3rem;
        font-size: 7rem;
    }

    .photo-container p{
        font-size: 4rem;
        width: 50rem;
        text-align: center;
    }


/* THIRDPAGE */
.Curve-Container{
    fill: #fec868;
    background-color: #f3ecda;
}

.Block-Container{
    height: 100vh;
    background-color: #fec868;
    margin-top: -1rem;
}