/*
----code color----
green = abc270
yellow = fec868
orange = fda769
brown = 473c33
cream = f3ecda
*/

html{
    font-family: 'Anuphan', sans-serif;
    font-weight: 500;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: red solid px;
    font-size: 1vw;
    z-index: 1;
}


header{
    height: 20vh;
    background-color: #abc270;
    display: flex;
    align-items: center;
}
    .Menu{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:0 8rem;
        visibility: hidden;
    }
        .Menu a:hover{
            opacity: 70%;
        }

    .Menu p{
        font-size: 2rem;
        color: #f3ecda;
        text-decoration: none;
    }

    .SubMenu p{
        display: inline;
        margin-left: 6rem;
        font-size: 2rem;
    }
        .SubMenu p:hover {
            opacity: 70%;
        }


/*----FIRSTPAGE----*/
.firstPage{
    background-color: #abc270;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;

}

.text{
    display: flex;
    flex-direction: column;
    color: #f3ecda;
    margin-top: -20vh;
}

.firstPage h2 {
    text-align: center;
    color: #473c33;
    font-size: 5rem;
}
    .firstPage h2 span{
        text-align: center;
        color: #473c33;
        font-size: 5rem;
    }

.firstPage p {
    text-align: center ;
    font-size: 5rem;
}
    .firstPage p span{
        text-align: center ;
        font-size: 5rem;
    }

/* Box */
.Box-Container{
    display: flex;
    flex-direction: row;
    visibility: hidden;
    margin-top: 2rem;
}
    .Box{
        width: 3rem;
        height: 3rem;
        background-color: #473c33;
        margin: 0 1rem;
    }

.Detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 0.5rem;
    visibility: hidden;
}
    .Detail p{
        font-size: 0.8rem;
        color: #f3ecda;
    }

/*----BarAndCircle----*/
.tabbar {
    position: absolute;
    width: 90vw;
    height: 10vw;
    bottom: 0;
    border-radius: 20px;
    margin-bottom: 10%;
    background-color: #f3ecda;
    border: #abc270 solid 1px;
    position: fixed;
    z-index: 3;
}
    .fire-container{
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
    }

        .fire-container img{
            width: 20%;
            height: 70%;
        }

    .cir {
        position: absolute;
        width: 15vw;
        height: 15vw;
        border-radius: 50%;
        left: 37.5vw;
        bottom: -2.5vw;
        background-color: #f3ecda;
        border: #abc270 solid 1px;
    }

        .img-container{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .img-container img{
            width: 60%;
        }




/*----SECONDPAGE----*/
.secondPage{
    height: 240rem;
    background-color: #f3ecda;
}

.info-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
    
    .photo-container{
        height: 80rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .photo{
        border-radius: 50%;
        width: 40rem;
        height: 40rem;
        object-fit: cover
    }

    .photo-container h1{
        margin-top: 3rem;
        font-size: 7rem;
        color: #473c33;
    }

    .photo-container p{
        font-size: 3rem;
        width: 50rem;
        text-align: center;
        color: #473c33;
    }
        .photo-container p a{
            font-size: 3rem;
            color: #abc270;
        }
        .Ball h1{
            color: #fec868;
        }
        .Peet h1{
            color: #abc270;
        }


/* THIRDPAGE */
.Curve-Container{
    fill: #fec868;
    background-color: #f3ecda;
    margin-top: -50rem;
    z-index: -10;
}

footer{
    height: 50vw;
    background-color: #fec868;
    margin-top: -1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
    footer p{
        visibility: hidden;
        text-align: center;
    }






/* RESPONSIVE */

/* 768 --Tablet----HiddenBar */
@media only screen and (min-width: 768px) {
    .Menu{
        visibility: visible;
    }

    .tabbar{
        visibility: hidden;
    }
    
    .photo{
        width: 30rem;
        height: 30rem;
    }

    .photo-container p{
        font-size: 3rem;
    }
        .photo-container p a{
            font-size: 3rem;
        }
}



/* 1000 ----Computer----PhotoColumn*/
@media only screen and (min-width: 1000px) {
.Menu a{
    font-size: 1.5rem;
}
.text h2{
    font-size: 4rem;
    text-align: left;
}
    .text h2 span{
        color: #f3ecda;
        font-size: 4.5rem;
    }
.text p{
    font-size: 1.7rem;
    text-align: end;
}
    .text p span{
        font-size: 1.7rem;
        color: #473c33;
    }

.Box{
    visibility: visible;
}   

.Detail{
    visibility: visible;
}

.secondPage{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60rem;
}

.info-container{
    flex-direction: row;
    margin-bottom: 20rem;
    justify-content: space-around;
    padding: 0 5rem;
}

    .photo-container{
        height: 100%;
    }

        .photo-container h1{
            font-size: 2rem;
            margin-bottom: 1.5rem;
        }

        .photo{
            width: 14rem;
            height: 14rem;
        }

        .photo-container p{
            font-size: 1rem;
            width: 14rem;
        }
            .photo-container p a{
                font-size: 1rem;
            }


.Curve-Container{
    margin-top: -30rem;
}   

footer{
    height: 10rem;
}
    footer p{
        visibility: visible;
    }

}
