/*
----code color----
green = abc270
yellow = fec868
orange = fda769
brown = 473c33
cream = f3ecda
*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: red solid 1px;
}


/*----FIRSTPAGE----*/
.firstPage{
    background-color: #abc270;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

    .text{
        display: flex;
        flex-direction: column;
        color: #f3ecda;
    }


/*----SECONDPAGE----*/
.secondPage{
    height: 120vh;
    background-color: #f3ecda;
}
